@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}

#header{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    
    h1{
        color: aliceblue;
    }
    nav{
        display: flex;
        gap: 10px;
        
    
        input{
            width: 300px;
            height: 50px;
            padding: 6px;
            border-radius: 5px;
            border: none;
        }
    }
    button{
        border: none;
        padding: 7px 25px;
        border-radius: 5px;
        text-transform: capitalize;
        height: 50px;
        font-weight: 600;
        transition: .5s;
        background-color:rgba(255, 255, 255, 0.911);
        cursor: pointer;
    }
    button:hover{
    background-color: rgb(255, 255, 255);
    }
    
    }
    
    
    @media (max-width:660px){
        input, #search{
            display: none;
        }
    }

#footer{
    background-color: rgba(0, 0, 0, 0.952);
    padding: 20px;

    p{
        color: #fff;
        text-align: center;
    }
    abbr{
        text-decoration: underline;
    }
}

