
#main{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(27, 26, 26);
    justify-content: center;
    align-items: center;
    section{

        display: flex;
        padding: 20px;
        max-width: 900px;
        width: auto;
        height: auto;
        background-color: rgb(230, 230, 230);
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        margin-top: 10px;
        margin-bottom: 10px;


        img{
            max-width: 400px;
            height: 350px;
            background-size: cover;
            border-radius: 5px;
            box-shadow: 2px 4px 8px;
        }
        h1{
            text-align: center;
            margin-bottom: 5px;
        }
        .text{
            padding: 15px;
            width: auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            text-align: left;
        }
    }
    
    button{
        border: none;
        width:50%;
        padding: 10px;
        border-radius: 5px;  
        margin: auto;
        margin-top: 30px;
        cursor: pointer;
        display: flex;
        justify-content:end;
        align-items: center;
        gap: 30%;
    }
    button:hover{
        outline: 1.5px solid rgb(33, 33, 201);
        box-shadow: 0 0 6px;
        transition: .3s ease-out;
    }
}

@media (max-width:647px){
    section{
        display: flex;
        flex-direction: column;
        width: 90% !important;
    }

}

@media (max-width:490px) {
    img{
        width: 95%;
        height: 250px !important;
    }
}